*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  line-height: 1.6;
  font-size: 18px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  flex-wrap: wrap;

  img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
}